div [data-role="header"] {
	border-top:0px!important;
	background:rgba(0,0,0,1)!important;
	position:fixed;
	z-index:9;
	width:100%;
	padding:5px;
}
.ultimas_canciones {
	width:100%;
	padding:1em;
	margin-top:2.5em!important;
}
.ultimas_canciones li {
	border-bottom:2px #333;
	cursor:pointer;
	margin-bottom:3px;
}
.ultimas_canciones li:hover {
	background: #333;
}

.ultimas_canciones li>img {
	float:left;
	margin-left:5px;
}

.ultimas_canciones li .titulo_remix{
	float:right;
	font-size:0.75em;
	margin.left:5px;
}

.clear {
	clear:both;
}
.sm2-bar-ui {
 font-size: 22px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #000000; /* non-RGBA fallback */
 background-color: rgba(0, 0, 0, 0.61);
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
.loading {
	margin:auto;
	margin-top:2.5em;
}
.soundbar {
	padding:1em;
	height:20px;
	background:#000;
	position:fixed;
	bottom:0;
	width:100%;
}
.play {
	float:left;
}
.media-info {
	text-align:center;
	width:90%;
	float:left;
	color:white;
}
.duration {
	float:right;
	margin-right:2em;
}