header {
	background:rgba(0,0,0,0.8);
	position:fixed;
	z-index:9;
	width:100%;
	padding:5px;
}
#bar {
	position:fixed;
	height:5%;
	background-color:#444;
}
#ultimas_canciones {
	width:100%;
	margin-top:65px;
}
#ultimas_canciones li {
	margin-bottom:3px;
}

#ultimas_canciones li>img {
	float:left;
	margin-left:5px;
}

#ultimas_canciones li .titulo_remix{
	float:left;
	margin.left:5px;
}

.clear {
	clear:both;
}
.sm2-bar-ui {
 font-size: 22px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #000000; /* non-RGBA fallback */
 background-color: rgba(0, 0, 0, 0.61);
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
.play_song {
	padding:4px;
	color:#FFF!important;
	background: rgba(0,0,0,0.8);
	border-radius:4px;
	text-decoration: none;
}